---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-01&format=json&key=ae54680e2ca44da79c082108212808&q=Mumbai
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '497'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/30/2021 14:37:21'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f07bfb4daf137173b7ba1a3614620ccc
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Mumbai, India"}],"weather":[{"date":"2021-08-01","astronomy":[{"sunrise":"06:15
        AM","sunset":"07:14 PM","moonrise":"12:21 AM","moonset":"01:23 PM","moon_phase":"Last
        Quarter","moon_illumination":"40"}],"maxtempC":"29","maxtempF":"83","mintempC":"28","mintempF":"82","avgtempC":"28","avgtempF":"83","totalSnow_cm":"0.0","sunHour":"9.0","uvIndex":"6","hourly":[{"time":"0","tempC":"28","tempF":"82","windspeedMiles":"19","windspeedKmph":"31","winddirDegree":"243","winddir16Point":"WSW","weatherCode":"353","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Light
        rain shower"}],"precipMM":"0.9","precipInches":"0.0","humidity":"82","visibility":"10","visibilityMiles":"6","pressure":"1006","pressureInches":"30","cloudcover":"98","HeatIndexC":"32","HeatIndexF":"90","DewPointC":"25","DewPointF":"76","WindChillC":"28","WindChillF":"82","WindGustMiles":"27","WindGustKmph":"43","FeelsLikeC":"32","FeelsLikeF":"90","uvIndex":"1"},{"time":"300","tempC":"28","tempF":"82","windspeedMiles":"19","windspeedKmph":"31","winddirDegree":"244","winddir16Point":"WSW","weatherCode":"353","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Light
        rain shower"}],"precipMM":"1.1","precipInches":"0.0","humidity":"82","visibility":"10","visibilityMiles":"6","pressure":"1005","pressureInches":"30","cloudcover"[...]
