---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-01&format=json&key=ae54680e2ca44da79c082108212808&q=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '497'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/30/2021 14:39:29'
      Cdn-Edgestorageid:
      - '627'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8c5d514fe828cc1374766f61c47ea4db
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Paris, France"}],"weather":[{"date":"2021-08-01","astronomy":[{"sunrise":"06:24
        AM","sunset":"09:29 PM","moonrise":"12:54 AM","moonset":"03:41 PM","moon_phase":"Last
        Quarter","moon_illumination":"40"}],"maxtempC":"22","maxtempF":"71","mintempC":"15","mintempF":"60","avgtempC":"20","avgtempF":"67","totalSnow_cm":"0.0","sunHour":"14.5","uvIndex":"4","hourly":[{"time":"0","tempC":"17","tempF":"63","windspeedMiles":"3","windspeedKmph":"5","winddirDegree":"306","winddir16Point":"NW","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.1","precipInches":"0.0","humidity":"78","visibility":"10","visibilityMiles":"6","pressure":"1012","pressureInches":"30","cloudcover":"68","HeatIndexC":"17","HeatIndexF":"63","DewPointC":"13","DewPointF":"56","WindChillC":"17","WindChillF":"63","WindGustMiles":"5","WindGustKmph":"8","FeelsLikeC":"17","FeelsLikeF":"63","uvIndex":"1"},{"time":"300","tempC":"16","tempF":"60","windspeedMiles":"3","windspeedKmph":"5","winddirDegree":"298","winddir16Point":"WNW","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.1","precipInches":"0.0","humidity":"84","visibility":"10","visibilityMiles":"6","pressure":"1012","pressureInches":"30","cloudcover[...]
