---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-06&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:35'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 014f89b5eb904e0ad73a07de1ad06f7f
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-06","astronomy":[{"sunrise":"05:22
        AM","sunset":"06:55 PM","moonrise":"02:51 AM","moonset":"05:37 PM","moon_phase":"Waning
        Crescent","moon_illumination":"4"}],"maxtempC":"38","maxtempF":"101","mintempC":"28","mintempF":"82","avgtempC":"34","avgtempF":"93","totalSnow_cm":"0.0","sunHour":"10.8","uvIndex":"7","hourly":[{"time":"0","tempC":"29","tempF":"83","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"103","winddir16Point":"ESE","weatherCode":"356","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0026_heavy_rain_showers_night.png"}],"weatherDesc":[{"value":"Moderate
        or heavy rain shower"}],"precipMM":"2.9","precipInches":"0.1","humidity":"81","visibility":"7","visibilityMiles":"4","pressure":"999","pressureInches":"29","cloudcover":"80","HeatIndexC":"34","HeatIndexF":"92","DewPointC":"25","DewPointF":"77","WindChillC":"29","WindChillF":"83","WindGustMiles":"10","WindGustKmph":"17","FeelsLikeC":"34","FeelsLikeF":"92","uvIndex":"1"},{"time":"300","tempC":"28","tempF":"82","windspeedMiles":"4","windspeedKmph":"6","winddirDegree":"189","winddir16Point":"S","weatherCode":"353","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Light
        rain shower"}],"precipMM":"2.2","precipInches":"0.1","humidity":"84","visibility":"8","visibilityMiles":"4","pressure":"999","pressureInches":"30","cloudcover":"68",[...]
