---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-02&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:43'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - dedfa524494b5a1a1a4a3d4981a77abd
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-02","astronomy":[{"sunrise":"05:20
        AM","sunset":"06:58 PM","moonrise":"12:02 AM","moonset":"02:00 PM","moon_phase":"Last
        Quarter","moon_illumination":"33"}],"maxtempC":"37","maxtempF":"99","mintempC":"29","mintempF":"84","avgtempC":"34","avgtempF":"93","totalSnow_cm":"0.0","sunHour":"13.4","uvIndex":"8","hourly":[{"time":"0","tempC":"30","tempF":"85","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"130","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.4","precipInches":"0.0","humidity":"75","visibility":"9","visibilityMiles":"5","pressure":"997","pressureInches":"29","cloudcover":"71","HeatIndexC":"35","HeatIndexF":"96","DewPointC":"25","DewPointF":"76","WindChillC":"30","WindChillF":"85","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"35","FeelsLikeF":"96","uvIndex":"1"},{"time":"300","tempC":"29","tempF":"85","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"126","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"77","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"36","HeatIndex[...]
