---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-30&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '500'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/30/2021 13:42:51'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fd30c9724e87a9fc28f38901f9ae19c4
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-30","astronomy":[{"sunrise":"05:37
        AM","sunset":"06:29 PM","moonrise":"11:11 PM","moonset":"12:46 PM","moon_phase":"Last
        Quarter","moon_illumination":"44"}],"maxtempC":"40","maxtempF":"104","mintempC":"28","mintempF":"82","avgtempC":"36","avgtempF":"96","totalSnow_cm":"0.0","sunHour":"12.9","uvIndex":"9","hourly":[{"time":"0","tempC":"30","tempF":"85","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"110","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"58","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","cloudcover":"21","HeatIndexC":"32","HeatIndexF":"90","DewPointC":"21","DewPointF":"69","WindChillC":"30","WindChillF":"85","WindGustMiles":"13","WindGustKmph":"21","FeelsLikeC":"32","FeelsLikeF":"90","uvIndex":"1"},{"time":"300","tempC":"29","tempF":"84","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"121","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"60","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","cloudcover":"20","HeatInd[...]
