---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-05&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:53'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ac628d3dc1adf8de286793d1d20e055a
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-05","astronomy":[{"sunrise":"05:22
        AM","sunset":"06:56 PM","moonrise":"02:01 AM","moonset":"04:46 PM","moon_phase":"Waning
        Crescent","moon_illumination":"11"}],"maxtempC":"39","maxtempF":"101","mintempC":"30","mintempF":"86","avgtempC":"35","avgtempF":"95","totalSnow_cm":"0.0","sunHour":"12.0","uvIndex":"7","hourly":[{"time":"0","tempC":"32","tempF":"89","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"125","winddir16Point":"SE","weatherCode":"353","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Light
        rain shower"}],"precipMM":"0.1","precipInches":"0.0","humidity":"65","visibility":"9","visibilityMiles":"5","pressure":"998","pressureInches":"29","cloudcover":"77","HeatIndexC":"38","HeatIndexF":"100","DewPointC":"24","DewPointF":"76","WindChillC":"32","WindChillF":"89","WindGustMiles":"13","WindGustKmph":"21","FeelsLikeC":"38","FeelsLikeF":"100","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"140","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.1","precipInches":"0.0","humidity":"71","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"75","HeatInde[...]
