---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-15&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:59'
      Cdn-Edgestorageid:
      - '749'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - b68f3a8dad94a496a5e226dcb75b790f
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-15","astronomy":[{"sunrise":"05:28
        AM","sunset":"06:46 PM","moonrise":"12:12 PM","moonset":"11:09 PM","moon_phase":"First
        Quarter","moon_illumination":"47"}],"maxtempC":"38","maxtempF":"100","mintempC":"26","mintempF":"78","avgtempC":"33","avgtempF":"92","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"8","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"83","winddir16Point":"E","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"55","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"27","HeatIndexC":"33","HeatIndexF":"91","DewPointC":"19","DewPointF":"67","WindChillC":"31","WindChillF":"88","WindGustMiles":"14","WindGustKmph":"22","FeelsLikeC":"33","FeelsLikeF":"91","uvIndex":"1"},{"time":"300","tempC":"26","tempF":"78","windspeedMiles":"12","windspeedKmph":"20","winddirDegree":"65","winddir16Point":"ENE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"58","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"24","HeatInde[...]
