---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-29&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:31:04'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 2188aa65fccf40b3a5339709ef2563a7
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-29","astronomy":[{"sunrise":"05:37
        AM","sunset":"06:30 PM","moonrise":"10:33 PM","moonset":"11:50 AM","moon_phase":"Last
        Quarter","moon_illumination":"51"}],"maxtempC":"40","maxtempF":"104","mintempC":"26","mintempF":"79","avgtempC":"35","avgtempF":"95","totalSnow_cm":"0.0","sunHour":"12.9","uvIndex":"8","hourly":[{"time":"0","tempC":"30","tempF":"87","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"136","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"51","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"29","cloudcover":"11","HeatIndexC":"32","HeatIndexF":"90","DewPointC":"19","DewPointF":"66","WindChillC":"30","WindChillF":"87","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"32","FeelsLikeF":"90","uvIndex":"1"},{"time":"300","tempC":"28","tempF":"82","windspeedMiles":"10","windspeedKmph":"17","winddirDegree":"64","winddir16Point":"ENE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"67","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"29","cloudcover":"22","HeatInde[...]
