---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-18&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:40'
      Cdn-Edgestorageid:
      - '747'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8fb0af3a85a705815837a582eebdab85
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-18","astronomy":[{"sunrise":"05:30
        AM","sunset":"06:43 PM","moonrise":"03:36 PM","moonset":"12:44 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"69"}],"maxtempC":"41","maxtempF":"105","mintempC":"31","mintempF":"88","avgtempC":"37","avgtempF":"99","totalSnow_cm":"0.0","sunHour":"13.1","uvIndex":"9","hourly":[{"time":"0","tempC":"35","tempF":"94","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"136","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"52","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","cloudcover":"11","HeatIndexC":"38","HeatIndexF":"100","DewPointC":"21","DewPointF":"70","WindChillC":"35","WindChillF":"94","WindGustMiles":"12","WindGustKmph":"20","FeelsLikeC":"38","FeelsLikeF":"100","uvIndex":"1"},{"time":"300","tempC":"31","tempF":"88","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"144","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"55","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"13","HeatInd[...]
