---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-25&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:31:03'
      Cdn-Edgestorageid:
      - '715'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c9c8b748e5ea2d327b0cc1f2016647c8
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-25","astronomy":[{"sunrise":"05:34
        AM","sunset":"06:35 PM","moonrise":"08:32 PM","moonset":"08:05 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"80"}],"maxtempC":"45","maxtempF":"112","mintempC":"32","mintempF":"89","avgtempC":"40","avgtempF":"104","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"9","hourly":[{"time":"0","tempC":"34","tempF":"94","windspeedMiles":"9","windspeedKmph":"15","winddirDegree":"131","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"61","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"4","HeatIndexC":"37","HeatIndexF":"99","DewPointC":"24","DewPointF":"75","WindChillC":"34","WindChillF":"94","WindGustMiles":"15","WindGustKmph":"24","FeelsLikeC":"37","FeelsLikeF":"99","uvIndex":"1"},{"time":"300","tempC":"32","tempF":"89","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"152","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"63","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"3","HeatIndex[...]
