---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-01&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:42'
      Cdn-Edgestorageid:
      - '627'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c6e141cf7fadae5b4065d0e5a03236a9
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-01","astronomy":[{"sunrise":"05:19
        AM","sunset":"06:59 PM","moonrise":"No moonrise","moonset":"01:04 PM","moon_phase":"Last
        Quarter","moon_illumination":"40"}],"maxtempC":"35","maxtempF":"95","mintempC":"28","mintempF":"83","avgtempC":"33","avgtempF":"91","totalSnow_cm":"0.0","sunHour":"12.1","uvIndex":"7","hourly":[{"time":"0","tempC":"29","tempF":"84","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"114","winddir16Point":"ESE","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.2","precipInches":"0.0","humidity":"82","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"37","HeatIndexC":"35","HeatIndexF":"95","DewPointC":"26","DewPointF":"78","WindChillC":"29","WindChillF":"84","WindGustMiles":"9","WindGustKmph":"14","FeelsLikeC":"35","FeelsLikeF":"95","uvIndex":"1"},{"time":"300","tempC":"28","tempF":"83","windspeedMiles":"5","windspeedKmph":"9","winddirDegree":"105","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.3","precipInches":"0.0","humidity":"86","visibility":"9","visibilityMiles":"5","pressure":"998","pressureInches":"29","cloudcover":"53","HeatIndexC[...]
