---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-03&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:33'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7ef76db3d15b57561f2015d3343118ee
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-03","astronomy":[{"sunrise":"05:20
        AM","sunset":"06:57 PM","moonrise":"12:36 AM","moonset":"02:56 PM","moon_phase":"Waning
        Crescent","moon_illumination":"26"}],"maxtempC":"37","maxtempF":"99","mintempC":"23","mintempF":"74","avgtempC":"34","avgtempF":"93","totalSnow_cm":"0.0","sunHour":"12.0","uvIndex":"7","hourly":[{"time":"0","tempC":"23","tempF":"74","windspeedMiles":"5","windspeedKmph":"8","winddirDegree":"87","winddir16Point":"E","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"4.5","precipInches":"0.2","humidity":"73","visibility":"8","visibilityMiles":"5","pressure":"998","pressureInches":"29","cloudcover":"73","HeatIndexC":"28","HeatIndexF":"82","DewPointC":"24","DewPointF":"75","WindChillC":"23","WindChillF":"74","WindGustMiles":"8","WindGustKmph":"12","FeelsLikeC":"28","FeelsLikeF":"82","uvIndex":"1"},{"time":"300","tempC":"29","tempF":"84","windspeedMiles":"3","windspeedKmph":"5","winddirDegree":"80","winddir16Point":"E","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.1","precipInches":"0.0","humidity":"81","visibility":"9","visibilityMiles":"5","pressure":"999","pressureInches":"29","cloudcover":"60","HeatIndexC":"[...]
