---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-10&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:36'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6e9da3d639e85689055dc69ddb93a929
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-10","astronomy":[{"sunrise":"05:25
        AM","sunset":"06:51 PM","moonrise":"06:52 AM","moonset":"08:20 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"11"}],"maxtempC":"42","maxtempF":"108","mintempC":"31","mintempF":"87","avgtempC":"38","avgtempF":"100","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"9","hourly":[{"time":"0","tempC":"32","tempF":"90","windspeedMiles":"8","windspeedKmph":"12","winddirDegree":"112","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"64","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"11","HeatIndexC":"39","HeatIndexF":"101","DewPointC":"25","DewPointF":"76","WindChillC":"32","WindChillF":"90","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"39","FeelsLikeF":"101","uvIndex":"1"},{"time":"300","tempC":"31","tempF":"87","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"114","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"68","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"19","HeatInd[...]
