---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-17&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:47'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 93e0be975106f0cd577ad9ac549c7ad9
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-17","astronomy":[{"sunrise":"05:29
        AM","sunset":"06:44 PM","moonrise":"02:29 PM","moonset":"No moonset","moon_phase":"First
        Quarter","moon_illumination":"61"}],"maxtempC":"41","maxtempF":"105","mintempC":"30","mintempF":"86","avgtempC":"37","avgtempF":"98","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"9","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"3","windspeedKmph":"5","winddirDegree":"94","winddir16Point":"E","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.7","precipInches":"0.0","humidity":"55","visibility":"9","visibilityMiles":"5","pressure":"1003","pressureInches":"30","cloudcover":"56","HeatIndexC":"34","HeatIndexF":"94","DewPointC":"21","DewPointF":"70","WindChillC":"31","WindChillF":"88","WindGustMiles":"6","WindGustKmph":"10","FeelsLikeC":"34","FeelsLikeF":"94","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"4","windspeedKmph":"7","winddirDegree":"109","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"59","visibility":"10","visibilityMiles":"6","pressure":"1003","pressureInches":"30","cloudcover":"11","HeatInde[...]
