---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-22&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:42'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - bdb52e87ab68623b28fe735642a8a5bb
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-22","astronomy":[{"sunrise":"05:32
        AM","sunset":"06:38 PM","moonrise":"06:58 PM","moonset":"04:59 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"98"}],"maxtempC":"34","maxtempF":"94","mintempC":"26","mintempF":"80","avgtempC":"32","avgtempF":"89","totalSnow_cm":"0.0","sunHour":"13.1","uvIndex":"8","hourly":[{"time":"0","tempC":"30","tempF":"85","windspeedMiles":"11","windspeedKmph":"18","winddirDegree":"130","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"75","visibility":"10","visibilityMiles":"6","pressure":"1006","pressureInches":"30","cloudcover":"6","HeatIndexC":"33","HeatIndexF":"91","DewPointC":"22","DewPointF":"71","WindChillC":"30","WindChillF":"85","WindGustMiles":"16","WindGustKmph":"26","FeelsLikeC":"33","FeelsLikeF":"91","uvIndex":"1"},{"time":"300","tempC":"26","tempF":"80","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"123","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"77","visibility":"10","visibilityMiles":"6","pressure":"1006","pressureInches":"30","cloudcover":"11","HeatInd[...]
