---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-27&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:44'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 20a588ed3faec0f310b9f73d6e85f160
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-27","astronomy":[{"sunrise":"05:36
        AM","sunset":"06:32 PM","moonrise":"09:30 PM","moonset":"09:58 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"66"}],"maxtempC":"46","maxtempF":"116","mintempC":"30","mintempF":"86","avgtempC":"40","avgtempF":"104","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"10","hourly":[{"time":"0","tempC":"33","tempF":"91","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"166","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"41","visibility":"10","visibilityMiles":"6","pressure":"996","pressureInches":"29","cloudcover":"7","HeatIndexC":"34","HeatIndexF":"93","DewPointC":"18","DewPointF":"64","WindChillC":"33","WindChillF":"91","WindGustMiles":"13","WindGustKmph":"21","FeelsLikeC":"34","FeelsLikeF":"93","uvIndex":"1"},{"time":"300","tempC":"32","tempF":"89","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"196","winddir16Point":"SSW","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"35","visibility":"10","visibilityMiles":"6","pressure":"996","pressureInches":"29","cloudcover":"7","HeatIndex[...]
