---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-16&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:39'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0c9cd2b66f92c05b03bb629b2ec31aa8
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-16","astronomy":[{"sunrise":"05:29
        AM","sunset":"06:45 PM","moonrise":"01:21 PM","moonset":"11:53 PM","moon_phase":"First
        Quarter","moon_illumination":"54"}],"maxtempC":"41","maxtempF":"106","mintempC":"29","mintempF":"83","avgtempC":"37","avgtempF":"99","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"8","hourly":[{"time":"0","tempC":"33","tempF":"92","windspeedMiles":"5","windspeedKmph":"8","winddirDegree":"65","winddir16Point":"ENE","weatherCode":"386","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0032_thundery_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        light rain with thunder"}],"precipMM":"0.6","precipInches":"0.0","humidity":"59","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","cloudcover":"83","HeatIndexC":"36","HeatIndexF":"96","DewPointC":"21","DewPointF":"69","WindChillC":"33","WindChillF":"92","WindGustMiles":"9","WindGustKmph":"14","FeelsLikeC":"36","FeelsLikeF":"96","uvIndex":"1"},{"time":"300","tempC":"29","tempF":"83","windspeedMiles":"3","windspeedKmph":"5","winddirDegree":"67","winddir16Point":"ENE","weatherCode":"386","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0032_thundery_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        light rain with thunder"}],"precipMM":"1.1","precipInches":"0.0","humidity":"64","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","clo[...]
