---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-14&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:51'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 964615931b680a541da76aecbc48de0d
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-14","astronomy":[{"sunrise":"05:27
        AM","sunset":"06:47 PM","moonrise":"11:06 AM","moonset":"10:31 PM","moon_phase":"First
        Quarter","moon_illumination":"40"}],"maxtempC":"40","maxtempF":"104","mintempC":"31","mintempF":"87","avgtempC":"37","avgtempF":"98","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"9","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"120","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"57","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"18","HeatIndexC":"35","HeatIndexF":"95","DewPointC":"22","DewPointF":"71","WindChillC":"31","WindChillF":"88","WindGustMiles":"13","WindGustKmph":"21","FeelsLikeC":"35","FeelsLikeF":"95","uvIndex":"1"},{"time":"300","tempC":"31","tempF":"87","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"141","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"53","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"18","HeatIndexC[...]
