---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-23&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:39'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cb8eda804f26cc546acc792a8bbc64c7
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-23","astronomy":[{"sunrise":"05:33
        AM","sunset":"06:37 PM","moonrise":"07:32 PM","moonset":"06:04 AM","moon_phase":"Full
        Moon","moon_illumination":"100"}],"maxtempC":"41","maxtempF":"107","mintempC":"29","mintempF":"84","avgtempC":"37","avgtempF":"98","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"9","hourly":[{"time":"0","tempC":"30","tempF":"86","windspeedMiles":"8","windspeedKmph":"12","winddirDegree":"149","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"67","visibility":"10","visibilityMiles":"6","pressure":"1002","pressureInches":"30","cloudcover":"9","HeatIndexC":"35","HeatIndexF":"94","DewPointC":"23","DewPointF":"74","WindChillC":"30","WindChillF":"86","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"35","FeelsLikeF":"94","uvIndex":"1"},{"time":"300","tempC":"29","tempF":"84","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"156","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"75","visibility":"10","visibilityMiles":"6","pressure":"1002","pressureInches":"30","cloudcover":"12","HeatInde[...]
