---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-20&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:41'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9e828053286834603b2a455b1027e6ec
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-20","astronomy":[{"sunrise":"05:31
        AM","sunset":"06:40 PM","moonrise":"05:32 PM","moonset":"02:46 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"83"}],"maxtempC":"34","maxtempF":"93","mintempC":"28","mintempF":"83","avgtempC":"32","avgtempF":"89","totalSnow_cm":"0.0","sunHour":"13.1","uvIndex":"8","hourly":[{"time":"0","tempC":"34","tempF":"93","windspeedMiles":"10","windspeedKmph":"15","winddirDegree":"113","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"53","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"6","HeatIndexC":"37","HeatIndexF":"98","DewPointC":"21","DewPointF":"70","WindChillC":"34","WindChillF":"93","WindGustMiles":"16","WindGustKmph":"26","FeelsLikeC":"37","FeelsLikeF":"98","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"12","windspeedKmph":"19","winddirDegree":"134","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"62","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"13","HeatInde[...]
