---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-04&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:34'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 92d091c434cf87f76b5d921a44894e1c
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-04","astronomy":[{"sunrise":"05:21
        AM","sunset":"06:56 PM","moonrise":"01:16 AM","moonset":"03:52 PM","moon_phase":"Waning
        Crescent","moon_illumination":"18"}],"maxtempC":"40","maxtempF":"104","mintempC":"30","mintempF":"86","avgtempC":"35","avgtempF":"96","totalSnow_cm":"0.0","sunHour":"12.0","uvIndex":"8","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"9","windspeedKmph":"14","winddirDegree":"133","winddir16Point":"SE","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.0","precipInches":"0.0","humidity":"68","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"41","HeatIndexC":"38","HeatIndexF":"100","DewPointC":"25","DewPointF":"76","WindChillC":"31","WindChillF":"88","WindGustMiles":"14","WindGustKmph":"22","FeelsLikeC":"38","FeelsLikeF":"100","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"87","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"152","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.1","precipInches":"0.0","humidity":"72","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"74","HeatInd[...]
