---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-24&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:43'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e75d3fa96f309e003263feda83602ed0
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-24","astronomy":[{"sunrise":"05:34
        AM","sunset":"06:36 PM","moonrise":"08:03 PM","moonset":"07:06 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"88"}],"maxtempC":"42","maxtempF":"108","mintempC":"30","mintempF":"86","avgtempC":"37","avgtempF":"99","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"9","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"154","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"64","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"5","HeatIndexC":"36","HeatIndexF":"97","DewPointC":"23","DewPointF":"74","WindChillC":"31","WindChillF":"88","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"36","FeelsLikeF":"97","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"146","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"68","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"6","HeatIndex[...]
