---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-26&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:50'
      Cdn-Edgestorageid:
      - '627'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d3cb0a327c61e55da8440cebcc0e7161
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-26","astronomy":[{"sunrise":"05:35
        AM","sunset":"06:34 PM","moonrise":"09:01 PM","moonset":"09:02 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"73"}],"maxtempC":"45","maxtempF":"113","mintempC":"30","mintempF":"86","avgtempC":"39","avgtempF":"102","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"9","hourly":[{"time":"0","tempC":"31","tempF":"88","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"124","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"58","visibility":"10","visibilityMiles":"6","pressure":"995","pressureInches":"29","cloudcover":"4","HeatIndexC":"35","HeatIndexF":"95","DewPointC":"22","DewPointF":"72","WindChillC":"31","WindChillF":"88","WindGustMiles":"15","WindGustKmph":"23","FeelsLikeC":"35","FeelsLikeF":"95","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"169","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"58","visibility":"10","visibilityMiles":"6","pressure":"995","pressureInches":"29","cloudcover":"4","HeatIndex[...]
