---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-08&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:35'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e63945df51475aecf891ae5a476a0b43
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-08","astronomy":[{"sunrise":"05:24
        AM","sunset":"06:53 PM","moonrise":"04:47 AM","moonset":"07:07 PM","moon_phase":"New
        Moon","moon_illumination":"0"}],"maxtempC":"39","maxtempF":"103","mintempC":"30","mintempF":"86","avgtempC":"36","avgtempF":"96","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"8","hourly":[{"time":"0","tempC":"32","tempF":"89","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"176","winddir16Point":"S","weatherCode":"176","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Patchy
        rain possible"}],"precipMM":"0.1","precipInches":"0.0","humidity":"59","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"51","HeatIndexC":"36","HeatIndexF":"97","DewPointC":"23","DewPointF":"73","WindChillC":"32","WindChillF":"89","WindGustMiles":"10","WindGustKmph":"15","FeelsLikeC":"36","FeelsLikeF":"97","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"5","windspeedKmph":"8","winddirDegree":"165","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.3","precipInches":"0.0","humidity":"64","visibility":"9","visibilityMiles":"5","pressure":"1000","pressureInches":"30","cloudcover":"60","HeatIndex[...]
