---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-10&format=json&key=ae54680e2ca44da79c082108212808&q=Nice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '494'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/30/2021 14:46:18'
      Cdn-Edgestorageid:
      - '715'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f7ac0cc9f66c0ac9dffc9b199ac6b21b
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Nice, France"}],"weather":[{"date":"2021-08-10","astronomy":[{"sunrise":"05:30
        AM","sunset":"07:42 PM","moonrise":"07:13 AM","moonset":"09:09 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"11"}],"maxtempC":"26","maxtempF":"79","mintempC":"19","mintempF":"66","avgtempC":"25","avgtempF":"76","totalSnow_cm":"0.0","sunHour":"14.1","uvIndex":"6","hourly":[{"time":"0","tempC":"23","tempF":"74","windspeedMiles":"2","windspeedKmph":"4","winddirDegree":"74","winddir16Point":"ENE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"66","visibility":"10","visibilityMiles":"6","pressure":"1018","pressureInches":"30","cloudcover":"26","HeatIndexC":"25","HeatIndexF":"77","DewPointC":"17","DewPointF":"62","WindChillC":"23","WindChillF":"74","WindGustMiles":"3","WindGustKmph":"5","FeelsLikeC":"25","FeelsLikeF":"77","uvIndex":"1"},{"time":"300","tempC":"23","tempF":"73","windspeedMiles":"2","windspeedKmph":"3","winddirDegree":"30","winddir16Point":"NNE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"64","visibility":"10","visibilityMiles":"6","pressure":"1017","pressureInches":"30","cloudcover":"39","HeatIndex[...]
