---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-09&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:36'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 70a1d0e1e4d9796d3ca3b75e76e966c3
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-09","astronomy":[{"sunrise":"05:24
        AM","sunset":"06:52 PM","moonrise":"05:49 AM","moonset":"07:45 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"3"}],"maxtempC":"39","maxtempF":"102","mintempC":"29","mintempF":"85","avgtempC":"35","avgtempF":"95","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"8","hourly":[{"time":"0","tempC":"31","tempF":"89","windspeedMiles":"11","windspeedKmph":"18","winddirDegree":"145","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"65","visibility":"9","visibilityMiles":"5","pressure":"1002","pressureInches":"30","cloudcover":"36","HeatIndexC":"37","HeatIndexF":"99","DewPointC":"24","DewPointF":"75","WindChillC":"31","WindChillF":"89","WindGustMiles":"15","WindGustKmph":"25","FeelsLikeC":"37","FeelsLikeF":"99","uvIndex":"1"},{"time":"300","tempC":"30","tempF":"86","windspeedMiles":"10","windspeedKmph":"15","winddirDegree":"123","winddir16Point":"ESE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"71","visibility":"10","visibilityMiles":"6","pressure":"1001","pressureInches":"30","cloudcover":"41","HeatIn[...]
