---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-19&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:38'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - baa02ef85e4d6036618137cb70339b7e
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-19","astronomy":[{"sunrise":"05:31
        AM","sunset":"06:42 PM","moonrise":"04:37 PM","moonset":"01:42 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"76"}],"maxtempC":"42","maxtempF":"107","mintempC":"31","mintempF":"88","avgtempC":"38","avgtempF":"100","totalSnow_cm":"0.0","sunHour":"13.1","uvIndex":"9","hourly":[{"time":"0","tempC":"33","tempF":"91","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"137","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"49","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"8","HeatIndexC":"36","HeatIndexF":"97","DewPointC":"21","DewPointF":"69","WindChillC":"33","WindChillF":"91","WindGustMiles":"12","WindGustKmph":"19","FeelsLikeC":"36","FeelsLikeF":"97","uvIndex":"1"},{"time":"300","tempC":"31","tempF":"88","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"128","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"52","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"12","HeatIndex[...]
