---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-13&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:38'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 65eb9135bb16e613a782e569d75b62dc
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-13","astronomy":[{"sunrise":"05:27
        AM","sunset":"06:48 PM","moonrise":"10:01 AM","moonset":"09:57 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"32"}],"maxtempC":"42","maxtempF":"107","mintempC":"33","mintempF":"91","avgtempC":"38","avgtempF":"101","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"9","hourly":[{"time":"0","tempC":"35","tempF":"96","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"141","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"48","visibility":"10","visibilityMiles":"6","pressure":"1000","pressureInches":"30","cloudcover":"22","HeatIndexC":"38","HeatIndexF":"101","DewPointC":"21","DewPointF":"69","WindChillC":"35","WindChillF":"96","WindGustMiles":"13","WindGustKmph":"22","FeelsLikeC":"38","FeelsLikeF":"101","uvIndex":"1"},{"time":"300","tempC":"33","tempF":"91","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"174","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"44","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"30","cloudcover":"17","HeatIndexC[...]
