---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-21&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:41'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e3007fa2d803c9b30622017d074bc321
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-21","astronomy":[{"sunrise":"05:32
        AM","sunset":"06:39 PM","moonrise":"06:18 PM","moonset":"03:53 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"91"}],"maxtempC":"30","maxtempF":"86","mintempC":"20","mintempF":"68","avgtempC":"28","avgtempF":"82","totalSnow_cm":"0.0","sunHour":"12.0","uvIndex":"6","hourly":[{"time":"0","tempC":"28","tempF":"82","windspeedMiles":"11","windspeedKmph":"17","winddirDegree":"145","winddir16Point":"SE","weatherCode":"353","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png"}],"weatherDesc":[{"value":"Light
        rain shower"}],"precipMM":"0.3","precipInches":"0.0","humidity":"72","visibility":"10","visibilityMiles":"6","pressure":"1005","pressureInches":"30","cloudcover":"48","HeatIndexC":"31","HeatIndexF":"88","DewPointC":"22","DewPointF":"72","WindChillC":"28","WindChillF":"82","WindGustMiles":"15","WindGustKmph":"24","FeelsLikeC":"31","FeelsLikeF":"88","uvIndex":"1"},{"time":"300","tempC":"27","tempF":"80","windspeedMiles":"8","windspeedKmph":"13","winddirDegree":"133","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.6","precipInches":"0.0","humidity":"79","visibility":"10","visibilityMiles":"6","pressure":"1005","pressureInches":"30","cloudcover":"73","HeatInde[...]
