---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-07&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:49'
      Cdn-Edgestorageid:
      - '630'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a69ac3475753aad1b5c51e3a57d89d28
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-07","astronomy":[{"sunrise":"05:23
        AM","sunset":"06:54 PM","moonrise":"03:48 AM","moonset":"06:24 PM","moon_phase":"New
        Moon","moon_illumination":"0"}],"maxtempC":"41","maxtempF":"107","mintempC":"32","mintempF":"89","avgtempC":"37","avgtempF":"99","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"9","hourly":[{"time":"0","tempC":"33","tempF":"91","windspeedMiles":"7","windspeedKmph":"12","winddirDegree":"130","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"60","visibility":"9","visibilityMiles":"5","pressure":"997","pressureInches":"29","cloudcover":"35","HeatIndexC":"39","HeatIndexF":"102","DewPointC":"24","DewPointF":"75","WindChillC":"33","WindChillF":"91","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"39","FeelsLikeF":"102","uvIndex":"1"},{"time":"300","tempC":"32","tempF":"89","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"124","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"62","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"26","HeatInde[...]
