---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-28&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:30:41'
      Cdn-Edgestorageid:
      - '627'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 33cacd78553a8c5a85bff0890925bbc0
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-28","astronomy":[{"sunrise":"05:36
        AM","sunset":"06:31 PM","moonrise":"10:00 PM","moonset":"10:54 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"59"}],"maxtempC":"45","maxtempF":"114","mintempC":"30","mintempF":"87","avgtempC":"40","avgtempF":"103","totalSnow_cm":"0.0","sunHour":"13.0","uvIndex":"9","hourly":[{"time":"0","tempC":"33","tempF":"92","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"210","winddir16Point":"SSW","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"34","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"10","HeatIndexC":"34","HeatIndexF":"93","DewPointC":"16","DewPointF":"60","WindChillC":"33","WindChillF":"92","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"34","FeelsLikeF":"93","uvIndex":"1"},{"time":"300","tempC":"31","tempF":"88","windspeedMiles":"5","windspeedKmph":"8","winddirDegree":"209","winddir16Point":"SSW","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"37","visibility":"10","visibilityMiles":"6","pressure":"997","pressureInches":"29","cloudcover":"14","HeatIndex[...]
