---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-11&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:37'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fe401cd76a244e8f4405284df796f8bb
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-11","astronomy":[{"sunrise":"05:25
        AM","sunset":"06:50 PM","moonrise":"07:55 AM","moonset":"08:52 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"18"}],"maxtempC":"43","maxtempF":"110","mintempC":"32","mintempF":"90","avgtempC":"40","avgtempF":"104","totalSnow_cm":"0.0","sunHour":"13.3","uvIndex":"9","hourly":[{"time":"0","tempC":"35","tempF":"96","windspeedMiles":"7","windspeedKmph":"11","winddirDegree":"99","winddir16Point":"E","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.2","precipInches":"0.0","humidity":"51","visibility":"9","visibilityMiles":"5","pressure":"998","pressureInches":"29","cloudcover":"53","HeatIndexC":"40","HeatIndexF":"103","DewPointC":"22","DewPointF":"71","WindChillC":"35","WindChillF":"96","WindGustMiles":"11","WindGustKmph":"18","FeelsLikeC":"40","FeelsLikeF":"103","uvIndex":"1"},{"time":"300","tempC":"32","tempF":"90","windspeedMiles":"5","windspeedKmph":"8","winddirDegree":"150","winddir16Point":"SSE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"56","visibility":"10","visibilityMiles":"6","pressure":"998","pressureInches":"29","cloudcover":"17","HeatInde[...]
