---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/past-weather.ashx?date=2021-08-12&format=json&key=ae54680e2ca44da79c082108212808&q=Lahore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '61832'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PK
      X-Wwo-Qpd-Left:
      - '495'
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/29/2021 22:28:37'
      Cdn-Edgestorageid:
      - '714'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 06cd1755ff0af6156a949711f68545b6
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"request":[{"type":"City","query":"Lahore, Pakistan"}],"weather":[{"date":"2021-08-12","astronomy":[{"sunrise":"05:26
        AM","sunset":"06:49 PM","moonrise":"08:58 AM","moonset":"09:24 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"25"}],"maxtempC":"44","maxtempF":"111","mintempC":"33","mintempF":"92","avgtempC":"40","avgtempF":"104","totalSnow_cm":"0.0","sunHour":"13.2","uvIndex":"9","hourly":[{"time":"0","tempC":"36","tempF":"96","windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"133","winddir16Point":"SE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"40","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"29","cloudcover":"20","HeatIndexC":"39","HeatIndexF":"101","DewPointC":"19","DewPointF":"65","WindChillC":"36","WindChillF":"96","WindGustMiles":"11","WindGustKmph":"17","FeelsLikeC":"39","FeelsLikeF":"101","uvIndex":"1"},{"time":"300","tempC":"33","tempF":"92","windspeedMiles":"6","windspeedKmph":"10","winddirDegree":"177","winddir16Point":"S","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png"}],"weatherDesc":[{"value":"Partly
        cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"38","visibility":"10","visibilityMiles":"6","pressure":"999","pressureInches":"29","cloudcover":"20","HeatIndex[...]
